:root {
    --cor-de-fundo: #00030c;
    --branco-principal: #ffffff;
    --branco-secundario: #f9f9f9;
    --cinza-secundario: #c0c0c0;
    --botao-azul: #167bf7;
    --fonte-principal: "Inter";
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}

.container {
    background-image: url("img/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.principal {
    padding: 125px 0 0 54px;
}

.container__titulo {
    width: 588px;
    height: 102px;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    text-align: center;
}

.container__img--1 {
    justify-content: center;
    width: 588px;
    display: flex;
    padding-top: 22px;
}

.container__img--combo {
    width: 348px;
    height: 100px;
}

.container__img--combo:hover {
    width: 368px;
    height: 120px;
    transition: 0.5s;
}

.container__botoes {
    display: flex;
    flex-direction: column;
    padding: 0px;
    gap: 16px;
    width: 588px;
    height: 128px;
    padding-top: 54px;
    align-items: center;
}

.botao {
    padding: 16px;
    width: 512px;
    height: 56px;
    border-radius: 8px;
    background-color: var(--botao-azul);
    color: var(--branco-principal);
    text-align: center;
}

.botao_secundario {
    background-color: transparent;
    border: 2px solid var(--branco-principal);
}

.container__aviso {
    width: 588px;
    height: 15px;
    font-size: 12px;
    line-height: 15px;
    color: var(--cinza-secundario);
    text-align: center;
}

.segundo {
    width: 1200px;
    padding: 219px 0 0 165px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container__img--2 {
    width: 588px;
    height: 560px;
}

.img--plataformas {
    width: 498px;
    height: 560px;
}

.container__text {
    display: flex;
    text-align: justify;
    flex-direction: column;
    gap: 16px;
    width: 588px;
    height: 144px;
}

.terceiro {
    padding: 151px 0 0 120px;
    display: flex;
    align-items: center;
    gap: 70px;
}

.container__subtitulo {
    font-weight: 700;
    font-size: 48px;
    line-height: 120%;
}

.container__descricao {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--branco-secundario);
}

.container__botao--pequeno {
    width: 166px;
    height: 32px;
    padding-bottom: 0;
}

.container__img--telas {
    width: 496px;
    height: 338.96px;
}

.quarto {
    margin: 226.04px 0 0 141px;
    display: flex;
    align-items: center;
    gap: 44px;
}

.container__img--notebook {
    width: 547px;
    height: 324px;
}

.quinto {
    margin: 264px 131px 0 155px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.container__subtitulo--h3 {
    display: flex;
    width: 1154px;
    justify-content: center;
}

.container__img--dispositivos {
    display: flex;
    width: 1154px;
    height: 245px;
    justify-content: space-between;
}

.icon__descricao {
    font-size: 32px;
    font-weight: 700px;
}

.icon__mais__descricao {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.icon--tv {
    width: 339px;
    height: 192px;
}

.footer {
    margin: 139px 0 105px 132px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1200px;
    height: 207.99px;
}

.contyainer__alura--logo {
    display: flex;
    justify-content: space-between;
}

.alura__logo {
    width: 102px;
    height: 35.28px;
    margin-bottom: 40.71px;
}

.links {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    justify-content: space-between;
    width: 1124px;
    height: 24px;
    font-size: 16px;
    line-height: 150%;
    margin-bottom: 24px;
}

.links a:hover {
    color: var(--botao-azul);
    font-size: 18px;
}

.links a:visited {
    color: #173f6f;
}

.container__footer--text {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0;
    gap: 16px;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    height: 84px;
}

@media screen and (max-width: 400px) {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        background-image: none;
        width: 100vw;
        height: 100vh;
        padding: 0;
        margin: 0;
    }
    .principal {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 0 0;
    }
    .container__titulo {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 350px;
        height: 165px;
        padding: 25px;
    }
    .container__img--1 {
        display: flex;
        width: 375px;
        height: 130px;
        align-items: center;
        justify-content: space-between;
        padding: 0;
    }
    .container__botoes {
        width: 350px;
        height: 130px;
    }
    .botao {
        width: 320px;
        height: 23px;
    }
    .segundo {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100vw;
        padding: 0;
        margin: 0;
    }
    .container__img--2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100vw;
        height: 325px;
        padding: 25px;
    }
    .img--plataformas {
        width: 250px;
        height: 320px;
    }
    .container__text {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 350px;
        height: 120px;
        margin: 25px;
    }
    .container__subtitulo {
        font-size: 25px;
        font-weight: 700;
    }
    .container__descricao {
        font-weight: 400;
        font-size: 12px;
        line-height: 150%;
        text-align: justify;
        padding: 25px;
    }
    .terceiro {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100vw;
        padding: 0;
        margin: 0;
    }
    .container__img--3 {
        margin: 25px;
    }
    .container__botao--pequeno {
        width: 125px;
        height: 23px;
        padding: 25px;
        margin: 25px;
    }
    .container__img--telas {
        width: 280px;
        height: 260px;
        margin: 80px;
    }
    .quarto {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100vw;
        height: 445px;
        padding: 0;
        margin: 0;
    }
    .container__img--4 {
        display: flex;
        flex-direction: column;
        align-items: center;
        left: -80px;
        width: 100vw;
    }
    .container__img--notebook {
        width: 380px;
        height: 200px;
    }
    .quinto {
        display: flex;
        flex-direction: column;
        width: 100vw;
        height: 800px;
        padding: 0;
        margin: 0px;
    }
    .container__subtitulo--h3 {
        width: 100vw;
        text-align: center;
    }
    .conteiner__alura--logo {
        text-align: center;
    }
    .container__img--dispositivos {
        flex-direction: column;
        width: 100vw;
        height: 700px;
        align-items: center;
    }
    .icon--tv {
        width: 350px;
        height: 192px;
    }
    .footer {
        flex-direction: column;
        align-items: center;
        width: 100vw;
        height: 600px;
        padding: 0;
        margin: 0;
    }
    .alura__logo {
        margin: 0;
        padding: 25px;
    }
    .links {
        flex-direction: column;
        padding: 25px;
        height: 168px;
    }
    .container__footer--text {
        width: 100vw;
        height: 170px;
        padding: 25px;
    }
}

@media screen and (max-width: 450px) {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        background-image: none;
        width: 100vw;
        height: 100vh;
        padding: 0;
        margin: 0;
    }
    .principal {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 0 0;
    }
    .container__titulo {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 350px;
        height: 165px;
        padding: 25px;
    }
    .container__img--1 {
        display: flex;
        width: 375px;
        height: 130px;
        align-items: center;
        justify-content: space-between;
        padding: 0;
    }
    .container__botoes {
        width: 350px;
        height: 130px;
    }
    .botao {
        width: 320px;
        height: 23px;
    }
    .segundo {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100vw;
        padding: 0;
        margin: 0;
    }
    .container__img--2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100vw;
        height: 325px;
        padding: 25px;
    }
    .img--plataformas {
        width: 250px;
        height: 320px;
    }
    .container__text {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 350px;
        height: 120px;
        margin: 25px;
    }
    .container__subtitulo {
        font-size: 25px;
        font-weight: 700;
    }
    .container__descricao {
        font-weight: 400;
        font-size: 12px;
        line-height: 150%;
        text-align: justify;
        padding: 25px;
    }
    .terceiro {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100vw;
        padding: 0;
        margin: 0;
    }
    .container__img--3 {
        margin: 25px;
    }
    .container__botao--pequeno {
        width: 125px;
        height: 23px;
        padding: 25px;
        margin: 25px;
    }
    .container__img--telas {
        width: 280px;
        height: 260px;
        margin: 80px;
    }
    .quarto {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100vw;
        height: 445px;
        padding: 0;
        margin: 0;
    }
    .container__img--4 {
        display: flex;
        flex-direction: column;
        align-items: center;
        left: -80px;
        width: 100vw;
    }
    .container__img--notebook {
        width: 380px;
        height: 200px;
    }
    .quinto {
        display: flex;
        flex-direction: column;
        width: 100vw;
        height: 800px;
        padding: 0;
        margin: 0px;
    }
    .container__subtitulo--h3 {
        width: 100vw;
        text-align: center;
    }
    .conteiner__alura--logo {
        text-align: center;
    }
    .container__img--dispositivos {
        flex-direction: column;
        width: 100vw;
        height: 700px;
        align-items: center;
    }
    .icon--tv {
        width: 350px;
        height: 192px;
    }
    .footer {
        flex-direction: column;
        align-items: center;
        width: 100vw;
        height: 600px;
        padding: 0;
        margin: 0;
    }
    .alura__logo {
        margin: 0;
        padding: 25px;
    }
    .links {
        flex-direction: column;
        padding: 25px;
        height: 168px;
    }
    .container__footer--text {
        width: 100vw;
        height: 170px;
        padding: 25px;
    }
}